---
layout: default
---
<!-- article à la une -->
{% assign highlight = site.posts.first %}
{% include highlight.html highlight=highlight %}
<!-- permet d'avoir les premiers articles sans le premier, qui est l'article à la une -->
{% assign posts=site.posts offset: 1 limit: 10 %}
{% include post-list.html posts=posts %}

<!-- <ul class="post-list">
  {% for post in site.posts %}
    <li>
      {% image list Renaud-Duval.jpg %}
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
  {% endfor %}
</ul> -->
