<header class="hidden-sm hidden-xs">
  <div class="logo">
    <a href="/">
      <img src="http://placehold.it/200x200" alt="Logo">
      <h1>La poupée russe</h1>
    </a>
  </div>

  <div class="search">
    <input type="text" placeholder="Recherche" />
    <a href="#">
      <i class="fa fa-search"></i>
    </a>
  </div>
  <nav>
    <ul class="categories">
      <li>
        <a href="/maison">Maison</a>
      </li>
      <li>
        <a href="/bureaux">Bureaux</a>
      </li>
      
    </ul>
    <ul class="corporate">
      <li>
        <a href="/notre-activite">Notre activité</a>
      </li>
      <li>
        <a href="/notre-activite#contact" class="button">Embauchez-nous</a>
      </li>
    </ul>      
  </nav>
</header>