{% assign highlight=include.highlight %}
<div class="row">
  <a href="{{ highlight.url | prepend: site.baseurl }}">
    <article class="highlight-post col-sm-12">
      <figure>
        {% image col-12 {{ highlight.image }} %}        
      </figure>
      <div class="post-info">
        <div class="post-title">
          <h1>{{ highlight.title }}</h1>
        </div>
        <div class="post-title">
          <h2>{{ highlight.subtitle }}</h2>
        </div> 
        <span class="read-more">Lire l'article</span>
      </div>
    </article>
  </a>
</div>