{% assign author = site.data.authors[include.post.author] %}

<article class="post col-sm-6 col-xl-4">
  <a href="{{ include.post.url | prepend: site.baseurl }}">
    <figure>
      {% image list test.jpg %}
    </figure>
  </a>

  <div class="post-info">
    <a href="{{ include.post.url | prepend: site.baseurl }}">
      <h1>{{ include.post.title }}</h1>
    </a>
    <span class="date">{{ include.post.date | date: '%d %B %Y'}}</span>
    <p class="post-excerpt">
      {{ include.post.excerpt | remove: '<p>' | remove: '</p>' }}
    </p>
    <div class="post-detail">

      <figure class="post-author">
        {% image users {{ author.image }} %}
        <figcaption>{{ author.name }}</figcaption>
      </figure>

      <a href="{{ include.post.url | prepend: site.baseurl }}">
        <span class="button read-more">Lire l'article</span>
      </a>
    </div>
  </div>
</article>
