
/* ARTICLE PAGE */

article.post {

  div.article-head {
    width: 100%;
    height: 80vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    position: relative;

    div.post-title {
      position: absolute;
      bottom: 20px;
      text-align: center;

      h1 {
        background: $red;
        display: inline;
        padding: 0.7rem 0.7rem;
        color: white;
        line-height: 5.4rem;
      }
      
    }
  }

  div.post-content p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    & img {
      margin-top: 3rem;
      margin-bottom: 4rem;

    }

    &.post-date {
      margin-top: 10px;
      margin-bottom: 10px;
    }

  }

  div.post-meta {
    border: 2px solid $red;
    margin-top: 20px;
    margin-bottom: 20px;

    div.author-image {
      display: inline-block;
      vertical-align: middle;
      margin: 10px 0;
      text-align: center;
      width: 25%;
      box-sizing: border-box;

      img {
        width : 8vw;
        height: auto;
        border-radius: 4vw;
        border: 2px solid $red;
      }
    }

    div.author-info {
      display: inline-block;
      vertical-align: middle;
      margin: 10px;
      width: calc(75% - 25px);
      box-sizing: border-box;

      a.button {
        text-decoration: none;
        display: block;
        padding: 1.2rem;
        margin: 10px auto;
        background: $grey;
        color: #fff;
        font-family: $sans-font-family;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 1.8rem;
        text-align: center;
        width: auto;

        img {
          display: inline-block;
          max-width: 2rem;
          margin-right: 0.5rem;
        }

        .text {
          display: inline-block;
        }
      }
    }

    span.author-name {
      font-size: 1.8rem;
      font-family: $title-font-family;
    }
  }
}

@media screen and (max-width: $md-max-width) {
  article.post div.post-meta div.author-image img {
    width : 20vw;
    height: auto;
    border-radius: 10vw;
  }
}


@media screen and (max-width: $sm-max-width) {
  article.post div.post-meta div.author-info a.button img {
    display: none;
  }
}