html {
  font-size: $base-font-size;
}

@media only screen and (max-width : $lg-max-width){
  html {
    font-size: 57%;
  }
}

@media only screen and (max-width : $md-max-width){
  html {
    font-size: 57%;
  }
}

@media only screen and (max-width : $sm-max-width){
  html {
      font-size: 70%;
  }
}

@media only screen and (max-width : $xs-max-width){
    html {
        font-size: 60%;
    }
}

body {
  font-size: 1.6rem;
  font-family: Arvo;
}

/**
 * Text
 */

p {
  font-family: Arvo;
}

a, a:hover {
  color: inherit;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

h1, h2 {
  font-family: $title-font-family;
}

/**
 * Images
 */
img {
  max-width: 100%;
}


/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.social-bar {
  display: table;
  margin: 10px 0;
  padding: 0;
  list-style: none;

  li {
    display: table-cell;
    margin: 0;
    padding: 0;
  }
}

.social-button {
  margin: 0 -13px; //HACK: refaire les sprites


  &.fb {
    background: url(../images/buttons/social/fb.png);
    background-position: 0 0;
    background-size: auto 100%;
  }

  &.twitter {
    background: url(../images/buttons/social/twitter.png);
    background-position: 0 0;
    background-size: auto 100%;
  }

  &.g-plus {
    background: url(../images/buttons/social/gPlus.png);
    background-position: 0 0;
    background-size: auto 100%;
  }

  &.pinterest {
    background: url(../images/buttons/social/pinterest.png);
    background-position: 0 0;
    background-size: auto 100%;
  }

  &.linkedin {
    background: url(../images/buttons/social/linkedin.png);
    background-position: 0 0;
    background-size: auto 100%;
  }

  &:hover {
    background-position: 100% 0;
  }

  height: 70px;
  width: 70px;
}

@media screen and (max-width: $sm-max-width) {
  .social-button {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: $xs-max-width) {
  .social-button {
    height: 50px;
    width: 50px;
  }
}