html {
    font-size: $base-font-size;
}

body {
    font-size: 1.6rem;
    font-family: Arvo;
}

/**
 * Text
 */

 p {
    font-family: Arvo;
 }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

h1, h2 {
    font-family: $title-font-family;
}

/**
 * Images
 */
 img {
    max-width: 100%;
 }


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}