footer {
  padding: 4rem 1rem 11rem;
  margin-top: 10rem;
  clear: both;
  background-color: $grey;

  .links > a {
    text-decoration: none;
  }

  h2 {
    color: #fff;
  }

  ul {
    margin: 0;
    padding-left: 3rem;
  }
  li {
    color: #c5c5c5;
    font-family: $sans-font-family;
    list-style-type: none;
    text-transform: uppercase;

  }

  .social-bar {
    opacity: 0.8;
    float: right;
  }
}