.post {
  position: relative;
  overflow: hidden;

  margin-bottom: 15px;
  & figure {
    position: relative;
  }

  & h1 {
    font-size: 2.6rem;
    font-weight: 800;
    margin: 1rem 0;
  }

  & h2 {
    font-size: 1.8rem;
  }

  & h3 {
    font-size: 1.6rem;
  }

  &:hover .post-info {
    transform: translateY(-41%);
    transition: 0.5s;
    opacity: 0.95;
  }

  &:hover .post-excerpt {
    opacity: 1;
    transition: 0.3s;
  }

  &:hover .post-detail {
    opacity: 1;
    transition: 0.5s
  }
}


.post-info {
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 55%;
  bottom: 0;

  height: 78%;
  
  width: calc(100% - 30px);
  padding: 0 1rem;
  background-color: $red;
  color: #fff;
  opacity: 0.8;
  transition: 0.2s;

  & .date {
    display: block;
    font-family: $sans-font-family;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }


  & .post-excerpt {
    opacity: 0;
  }

  & .post-detail {
    position: absolute;
    z-index: -1;
    bottom: 0;
    transition: 0.3s;
  }

  & figure.post-author {
      margin: 10px 0;

      img {
        margin-right: 1rem;
        display: inline-block;
        width : 7rem;
        height: 7rem;
        border-radius: 3.5rem;
        border: 1px solid $grey;
      }

      figcaption {
        display: inline-block;
        font-family: $sans-font-family;
        text-transform: uppercase;
      }
    }
}

