---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="article-head" style="
    {% if page.article-img %}
      background-image: url({{site.baseurl}}/images/{{page.article-img['large']}});
    {% endif %}
  ">
    
    <h1 class="post-title col-sm-6 col-sm-offset-3" itemprop="name headline">{{ page.title }}</h1>

  </div>

  <p>RESAL SOCIAL</p>

  <div class="post-content col-sm-6 col-sm-offset-3" itemprop="articleBody">
    {{ content }}

    <p class="post-date">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
  </div>

   <div class="post-meta col-sm-6 col-sm-offset-3">
    <div class="author-image" style="
      {% if page.author['image'] %}
          background-image: url({{site.baseurl}}/images/authors/{{page.author['image']}});
      {% endif %}
    ">
    </div>

    <div class="author-info">
      {% if page.author["name"] %}
         <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="author-name" itemprop="name">{{ page.author["name"] }}</span></span>
      {% endif %}

      {% if page.author["description"] %}
        <p>{{ page.author["description"] }}</p>
      {% endif %}
    </div>
  </div>

</article>
