---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="article-head" style="
    {% if page.image %}
      background-image: url({{site.baseurl}}/images/articles/{{page.image}});
    {% endif %}
  ">
    
    <div class="post-title col-sm-6 col-sm-offset-3">
      <h1 itemprop="name headline">{{ page.title }}</h1>
    </div>

  </div>

  <div class="col-sm-6 col-sm-offset-3">
    {% include social-bar.html %}
  </div>


  <div class="post-content" itemprop="articleBody">
    {{ content }}

    <p class="post-date">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
  </div>

  <div class="col-sm-6 col-sm-offset-3">
    {% include social-bar.html %}
  </div>

  {% if site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
   <div class="post-meta col-sm-6 col-sm-offset-3">
    <div class="author-image">
      {% if author.image %}
        <img src="{{site.baseurl}}/images/authors/{{author.image}}">
      {% endif %}
    </div>

    <div class="author-info">
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">+
        <span class="author-name" itemprop="name">
          {{ author.name }}
        </span>
      </span>

      <p>{{ author.description }}</p>

      <a href="/notre-activite#contact" class="button">Demandez nos services !</a>
    </div>
  </div>
  {% endif %}

</article>
