---
layout: default
---
<div class="notre-activite">
  <section id="concept">
    <div class="content col-xs-12 col-sm-8">
      <h2>Agrandir vos pièces de manière élégante</h2>
      <p>
        C'est notre mot d'ordre, notre ligne directrice ! Vous chercher à agrandir de petits espaces sans avoir à en changer ? Nous sommes là pour vous aider. Nous cherchons et innovons sans cesse en créant de nouveaux meubles design et permettant d'économiser de l'espace. Escamotables, incrusté dans les murs, dépliants, autant de méthodes de rangement permettant d'optimiser la place dans de petits locaux tout en y donnant un aspect moderne et fun.
      </p>
    </div>
  </section>
  {% include poupees.html %}
  <section id="types-travaux">
    <div id="maison" class="col-sm-6">
      <h2>Maison</h2>
      <div class="description col-sm-12">
          <p>Vous avez besoin d'espace dans votre petit appartement ?</p>
        <p>
          Nous réalisons toutes sorte de meubles pour votre intérieur ! Des lits, des bureaux, des étagères, armoires .... Tout ce dont vous avez besoin pour maximiser le confort de votre appartement sans utiliser de l'espace inutilement.
        </p>
      </div>
    </div>
    
    <div id="bureau" class="col-sm-6">
      <h2>Bureau</h2>
      <div class="description col-sm-12">
        <p>Vous êtes patron d'une petite startup ou d'une entreprise et vous souhaitez optimiser l'espace dans vos locaux ?</p>
        <p>
          Aucun problème ! Nous travaillons sur de nombreux éléments d'ameublement pour les professionnel afin de vous aider à rentabiliser votre espace avec la touche design en plus. En plus de gagner de la place, impressionnez vos visiteur avec des meubles astucieux et moderne !
        </p>
      </div>
    </div>
    <div class="clearfix"></div>
    <p class="resume">
      Nous travaillons aussi bien sur des projets de réaménagement d'espaces pour les particuliers que pour les professionnels. Vous avez besoin de nous pour votre intérieur ou pour votre entreprise ? Pas de problème !
    </p>
  </section>
  {% include poupees.html %}
  <section id="equipe">
    <div class="col-sm-6 col-md-6">
      <h2>Notre équipe</h2>
      <p>
        Jeunes et dynamiques, plein d'inspiration, nous sommes prêts à vous aider à réaliser votre projet et y apporter toute notre inspiration et nos idées.
      </p>
    </div>
  </section>
  {% include poupees.html %}
  <section id="contact">
    <h2>Nous contacter</h2>
    <div class="col-md-6 col-md-offset-3">
      <p>
        Notre travail vous intéresse ? Vous chercher à aménager votre maison, appartement ou les locaux de votre société ?<br/>
        N'hésitez pas à nous contacter pour faire appel à nos services.
      </p>
    </div>
    <form class="row">
      <ul class="col-sm-12 col-lg-6 col-lg-offset-3">
        <li class="col-xs-12">
          <label class="col-xs-1 " for="name"><img src="{{ site.baseurl }}/images/notre-activite/person.png"></label>
          <input class="col-xs-11" id="name" type="text" name="name" placeholder="Votre nom"/>
        </li>

        <li class="col-xs-12">
          <label class="col-xs-1 " for="mail"><img src="{{ site.baseurl }}/images/notre-activite/at.png"></label>
          <input class="col-xs-11" id="mail" type="mail" name="mail" placeholder="Votre adresse mail"/>
        </li>

        <li class="col-xs-12">
          <label class="col-xs-1 " for="objet"><img src="{{ site.baseurl }}/images/notre-activite/envelop.png"></label>
          <input class="clearfix col-xs-11" id="objet" type="text" name="objet" placeholder="Objet"/>
        </li>

        <li class="col-xs-12">
          <label class="col-xs-1 " for="message"><img src="{{ site.baseurl }}/images/notre-activite/write.png"></label>
          <textarea class="col-xs-12" id="message" name="message" placeholder="Votre message"></textarea>
        </li>

        <li>
          <input type="button" value="Envoyer"/>
        </li>
      </ul>
    </form>
  </section>
</div>